<div class="container">

<%= form_tag do  %>
  <div class="field">
    <%= label_tag :email %><br>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Sign in" %>
  </div>
<% end %>



<p>
  New user? <%= link_to "Sign up", "signup" %>
</p>

</div>
