<div class="container">

<%= form_tag do  %>
  <div class="field">
    <%= label_tag :name %><br>
    <%= text_field_tag :name %>
  </div>
  <div class="field">
    <%= label_tag :email %><br>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation %><br>
    <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions">
    <%= submit_tag "Create account" %>
  </div>
<% end %>



<p>
  Already have an account? <%= link_to "Sign in", "login" %>
</p>

</div>
