

<div class="container">

<% if session[:user_id] %>

<%= form_tag do %>
  <%= hidden_field_tag "logout_confirmed" %>
  <%= submit_tag "Log out" %>
<% end %>

<% else %>

  <%= link_to "Log in", "login" %> or <%= link_to "Sign up", "signup" %>

<% end %>

</div>
