<p id="notice"><%= notice %></p>

<h1>Listing System Roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @system_roles.each do |system_role| %>
      <tr>
        <td><%= system_role.name %></td>
        <td><%= link_to 'Show', system_role %></td>
        <td><%= link_to 'Edit', edit_system_role_path(system_role) %></td>
        <td><%= link_to 'Destroy', system_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System role', new_system_role_path %>
