<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password Digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>System Roles</strong>
  <%= @user.system_roles.length %>
  <% @user.system_roles.each do |sr| %>
  <%= sr.name %>
  <% end %>
</p>

<p>
  <strong>Roles</strong>
  <%= @user.roles.length %> <br/>
  <% @user.roles.each do |r| %>
  <%= r.name %>,   <%= r.organization.name %> <br/>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</div>
