<%= form_for(@user_role) do |f| %>
  <% if @user_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_role.errors.count, "error") %> prohibited this user_role from being saved:</h2>

      <ul>
      <% @user_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :role_id %><br>
    <%= f.number_field :role_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
