
<div class="container">

Welcome. Go to the <%= link_to "Gallery", "/gallery" %>

<% if session[:user_id] %>


<% else %>

<%= link_to "log in", :login %>
or
<%= link_to "sign up", :signup %>

<% end %>

</div>
