

<div class="container">


<table>
  <tr>
    <th>Name</th>
    <th>Organization Id</th>
<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.organization_id %></td>
  </tr>

<% end %>
</table>

<div>

<%= link_to 'New Project', new_project_path %>
</div>


</div>
