
<div class="container">

<%= form_tag do %>

  <select>
    <% @projects.each do |project| %>
    <option><%= project.name %></option>
    <% end %>
  </select>

  <%= submit_tag "select project" %>

<% end %>


<div id="maingallery">



</div>

</div>
