
<div class="container">

<table>
  <tr>
    <td>Name:</td><td> <%= @user.name %></td>
  </tr>
  <tr>
    <td>Email:</td><td> <%= @user.email %></td>
  </tr>
</table>

<% @user.roles.each do |role| %>

<% role.organization.projects.each do |project| %>

Org: <%= role.organization.name %> Project: <%= project.name %>

<% end %>

<% end %>


</div>
