<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Business:</strong>
  <%= @organization.business_id %>
</p>

<p>
  <strong>Sites:</strong>
  <%= @organization.organization_sites.length %>
  <%= @organization.organization_sites %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @organization.projects.length %>
  <%= @organization.projects %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @organization.roles.length %>
  <%= @organization.roles %>
</p>



<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
