<p id="notice"><%= notice %></p>

<h1>Listing User Sites</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Site</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_sites.each do |user_site| %>
      <tr>
        <td><%= user_site.user_id %></td>
        <td><%= user_site.site_id %></td>
        <td><%= user_site.start_date %></td>
        <td><%= user_site.end_date %></td>
        <td><%= link_to 'Show', user_site %></td>
        <td><%= link_to 'Edit', edit_user_site_path(user_site) %></td>
        <td><%= link_to 'Destroy', user_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User site', new_user_site_path %>
