<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_site.user_id %>
</p>

<p>
  <strong>Site:</strong>
  <%= @user_site.site_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @user_site.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @user_site.end_date %>
</p>

<%= link_to 'Edit', edit_user_site_path(@user_site) %> |
<%= link_to 'Back', user_sites_path %>
