<%= form_for(@organization_site) do |f| %>
  <% if @organization_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization_site.errors.count, "error") %> prohibited this organization_site from being saved:</h2>

      <ul>
      <% @organization_site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.number_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :site_id %><br>
    <%= f.number_field :site_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
