<p id="notice"><%= notice %></p>

<h1>Listing Organization Sites</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organization_sites.each do |organization_site| %>
      <tr>
        <td><%= organization_site.organization_id %></td>
        <td><%= organization_site.site_id %></td>
        <td><%= link_to 'Show', organization_site %></td>
        <td><%= link_to 'Edit', edit_organization_site_path(organization_site) %></td>
        <td><%= link_to 'Destroy', organization_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization site', new_organization_site_path %>
