<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @organization_site.organization_id %>
</p>

<p>
  <strong>Site:</strong>
  <%= @organization_site.site_id %>
</p>

<%= link_to 'Edit', edit_organization_site_path(@organization_site) %> |
<%= link_to 'Back', organization_sites_path %>
