    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapibleMenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><%=@brand_name%></a>
        </div>
        <div class="collapse navbar-collapse" id="collapibleMenu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/gallery">gallery</a></li>
            <li><a href="/capture">capture</a></li>
            <li><a href="/account">account</a></li>
<% if session[:user_id] %>
            <li><a href="logout">logout</a></li>
<% else %>
            <li><a href="login">log in</a></li>
            <li><a href="signup">sign up</a></li>
<% end %>
          </ul>
        </div>
      </div>
    </nav>
