<p id="notice"><%= notice %></p>

<p>
  <strong>Street1:</strong>
  <%= @site.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @site.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @site.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @site.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @site.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @site.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @site.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @site.longitude %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
