<!DOCTYPE html>
<html>
  <head>
    <title><%=@title%></title>

    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%=controller_name%> <%=action_name%>">

    <%= render 'header' %>

    <div class="container">
      <% flash.each do |flash_key, flash_value| %>
      <div class="alert alert-<%=flash_key%>"><%=flash_value%></div>
      <% end %>
    </div>

    <%= yield %>

    <%= render 'footer' %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
